rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function userRole(uid) {
      return get(/databases/$(database)/documents/users/$(uid)).data.role;
    }
    function isAdmin() {
      return request.auth != null &&
             userRole(request.auth.uid) in ['admin', 'moderator'];
    }

    match /bancs/{benchId} {
      allow read:   if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null &&
                       (request.auth.uid == resource.data.authorId || isAdmin());
      allow delete: if isAdmin();
    }

    match /users/{userId} {
      allow read:   if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null &&
                       (request.auth.uid == userId ||
                        userRole(request.auth.uid) == 'admin');
    }
  }
}
